body {
    margin: 0;
    font-family:sans-serif;
    background-color: #f4f4f479;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.337)50%,rgba(0, 0, 0, 0.213)40%), url(bg.png);
    background-repeat: no-repeat;
    background-position-y: auto;
    background-position-x: auto;
    background-size: 1900px 800px;
    background-color: rgba(212, 212, 241, 0.432);
    color: rgb(0, 0, 0);   
 }

  
  .topnav {
    overflow: hidden;
    background-color: #07070787;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: sticky;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
  }
  
  .topnav a:hover {
    background-color: #919191a5;
    color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 14px 30px;
    transition: all 0.3s ease;    
  }
  
  .topnav a.active {
    background-color: #000000c9;
    color: white;
    font-size: 21px;
    padding-top:-20px;
    padding-bottom:-20px;
    transition: all 0.3s ease;    
  }
  
  
  button{
  padding: 10px;
  background-color: #ddd;
  }
  
  p{
   font-size: 30px;
   padding: 10px;
   color: rgb(0, 0, 0);
  }

  .container{
    background-color: rgba(61, 61, 61, 0.717);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom:20px'
  }

  .imgh{
    width: 500px;
    height: 340px;
    margin-top: 20px;
    margin-left: 10px;
    padding: -10px;
    border-radius: 10px;
  }

  .bt{
    background-color: rgba(0, 179, 255, 0.21);
    padding: 10px;
    font-size:20px;
    border-radius: 10px;
    outline: black;
    margin-left: 20px;
    margin-top: -500px;
    
  }

  .bt:hover{
    background-color: rgba(122, 122, 122, 0.505);
    transition: all 0.3s ease;
    padding: 13px 13px 13px 13px;
  }

  .expn{
    font-size: 30px;
    color:rgb(238, 229, 229);
    margin-top: -330px;
    margin-left: 17px;
    margin-right: 800px;
  }

.cn2{
  background-color: #0000008f;
  border-radius: 10px;
  padding:10px;
  color: white;
  font-family: sans-serif;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
}

.pe1{
  color: white;
}

.img13{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.img14{
  width: 300px;
  padding: 10px;
  top:40px;
  border-radius: 10px;
}

.img14p{
  width: 300px;
  padding: 10px;
  top:40px;
  border-radius: 10px;

}

.img15{
  width: 200px;
  padding: 10px;
  top:40px;
  border-radius: 10px;
}

.img14:hover{
  width: 310px;
  padding: 10px;
  top:40px;
  border-radius: 10px;
  transition: ease 0.3s;
}

.img15:hover{
  width: 210px;
  padding: 10px;
  top:40px;
  border-radius: 10px;
  transition: ease 0.3s;
}

.img13:hover{
  width: 210px;
  padding: 10px;
  top:40px;
  border-radius: 10px;
  transition: ease 0.3s;
}

.bnp1{
  background-color: rgb(82, 192, 135);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 100px;
  position: absolute;
  top: 300px;
  left: 40px;
}

.bnp1:hover{
  background-color: rgba(105, 245, 222, 0.541);
  padding: 13px;
  transition: ease 0.3s;
}

.cn3{
  background-color: #0000008f;
  border-radius: 10px;
  padding:10px;
  color: white;
  font-family: sans-serif;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
}

.cn30{
  border-radius: 10px;
  color: white;
  font-family: sans-serif;

}

.cn3 input{
  border-radius: 5px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-color: black;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.855);
  
}
.cn3 input:hover{
  border-radius: 5px;
  padding: 3px;
  font-size: 20px;
  color: rgb(116, 255, 94);
  background-color: rgba(0, 0, 0, 0.32);
  border-color: black;
  font-family: sans-serif;
  transition: ease 0.3s;
  
}

.img19p{
  width:225px;
}