body {
  margin: 0;
  font-family:sans-serif;
  background-color: #f4f4f479;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.337)50%,rgba(0, 0, 0, 0.213)40%), url(image/bg.png);
  background-repeat: no-repeat;
  background-position-y: auto;
  background-position-x: auto;
  background-size: 1900px 800px;
  background-color: rgba(212, 212, 241, 0.432);
  color: rgb(255, 255, 255);   
}
  
  .unsupported-browser {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.358);
    padding:20px;
    border-radius: 10px;
    padding-bottom: 30px;
  }
  
  .unsupported-browser h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .unsupported-browser p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .unsupported-browser ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .unsupported-browser li {
    margin: 0 10px;
  }
  
  .unsupported-browser a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
    border-radius: 9px;
  }
  
  .unsupported-browser a:hover {
    background-color: #00000066;
    color: #fff;
    padding: 14px 14px 14px 14px;
  }
  